n8n-auth-intake-partial-workflow.json
{
  "name": "Multi-Intent AI Assistant - Partial (Through Intent Processing)",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "hostedChat",
        "initialMessages": "Hi, please share your user ID and 4-digit PIN to continue.",
        "options": {
          "responseMode": "lastNode",
          "title": "AI Workflow Agent",
          "subtitle": "Authentication, intent capture, and intent processing",
          "inputPlaceholder": "Enter your message"
        }
      },
      "id": "1",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst sessions = staticData.multiIntentAssistantSessions ?? (staticData.multiIntentAssistantSessions = {});\n\nconst incoming = items[0]?.json ?? {};\nconst sessionId = String(\n  incoming.sessionId ??\n  incoming.chatSessionId ??\n  incoming.session_id ??\n  incoming.userId ??\n  'default-session'\n);\nconst chatInput = String(\n  incoming.chatInput ??\n  incoming.text ??\n  incoming.message ??\n  ''\n).trim();\n\nconst existingSession = sessions[sessionId] ?? {\n  phase: 'welcome',\n  authenticated: false,\n  authAttempts: 0,\n  userId: null,\n  name: null,\n  pendingIntents: [],\n  intents: [],\n  processedIntents: []\n};\n\nconst mockUsers = {\n  '5673': { name: 'Devin', pin: '1234' },\n  '2468': { name: 'Ava', pin: '4321' },\n  '1357': { name: 'Sam', pin: '2468' }\n};\n\nconst hasId = /\\b(?:user\\s*id|id)\\D*(\\d{3,})\\b/i.test(chatInput);\nconst hasPin = /\\bpin\\D*(\\d{4})\\b/i.test(chatInput);\nconst looksLikeCredentials = hasId && hasPin;\n\nreturn [{\n  json: {\n    ...incoming,\n    sessionId,\n    chatInput,\n    session: existingSession,\n    looksLikeCredentials,\n    mockUsers,\n    text: incoming.text ?? ''\n  }\n}];"
      },
      "id": "2",
      "name": "Load Session State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst sessions = staticData.multiIntentAssistantSessions ?? (staticData.multiIntentAssistantSessions = {});\nconst data = items[0].json;\nconst { sessionId, session, looksLikeCredentials, chatInput } = data;\n\nif (session.authenticated) {\n  return [{ json: { ...data, skipAuth: true, text: data.text ?? '' } }];\n}\n\nif (session.phase === 'welcome' && !looksLikeCredentials) {\n  const updatedSession = { ...session, phase: 'awaiting_auth' };\n  sessions[sessionId] = updatedSession;\n  return [{ json: { ...data, session: updatedSession, skipAuth: true, text: 'Hi, please share your user ID and 4-digit PIN to continue.' } }];\n}\n\nreturn [{ json: { ...data, skipAuth: false, text: chatInput ? data.text : 'Hi, please share your user ID and 4-digit PIN to continue.' } }];"
      },
      "id": "3",
      "name": "Welcome Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst sessions = staticData.multiIntentAssistantSessions ?? (staticData.multiIntentAssistantSessions = {});\nconst data = items[0].json;\nconst { sessionId, session, chatInput, mockUsers, skipAuth } = data;\n\nif (skipAuth) {\n  return [{ json: { ...data, authValidated: false, shouldSaveUser: false } }];\n}\n\nconst idMatch = chatInput.match(/\\b(?:user\\s*id|id)\\D*(\\d{3,})\\b/i);\nconst pinMatch = chatInput.match(/\\bpin\\D*(\\d{4})\\b/i);\nif (!idMatch || !pinMatch) {\n  const updatedSession = { ...session, phase: 'awaiting_auth', authAttempts: session.authAttempts ?? 0 };\n  sessions[sessionId] = updatedSession;\n  return [{ json: { ...data, session: updatedSession, authValidated: false, shouldSaveUser: false, text: 'Please send both your user ID and a 4-digit PIN in one message. Example: user id 5673 and pin 1234.' } }];\n}\n\nconst userId = idMatch[1];\nconst pin = pinMatch[1];\nconst user = mockUsers[userId];\nconst isValid = Boolean(user && user.pin === pin);\nif (!isValid) {\n  const updatedSession = { ...session, phase: 'awaiting_auth', authAttempts: (session.authAttempts ?? 0) + 1 };\n  sessions[sessionId] = updatedSession;\n  return [{ json: { ...data, session: updatedSession, authValidated: false, shouldSaveUser: false, attemptedUserId: userId, text: 'Authentication failed. Please re-enter your user ID and 4-digit PIN.' } }];\n}\n\nreturn [{ json: { ...data, authValidated: true, shouldSaveUser: true, authenticatedUserId: userId, authenticatedName: user.name, text: 'Authentication successful.' } }];"
      },
      "id": "4",
      "name": "Authentication Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst sessions = staticData.multiIntentAssistantSessions ?? (staticData.multiIntentAssistantSessions = {});\nconst data = items[0].json;\nconst { sessionId, session, shouldSaveUser, authenticatedUserId, authenticatedName, skipAuth } = data;\n\nif (skipAuth || !shouldSaveUser) {\n  return [{ json: data }];\n}\n\nconst updatedSession = {\n  ...session,\n  phase: 'intent_capture',\n  authenticated: true,\n  authAttempts: 0,\n  userId: authenticatedUserId,\n  name: authenticatedName,\n  pendingIntents: session.pendingIntents ?? [],\n  intents: session.intents ?? [],\n  processedIntents: session.processedIntents ?? []\n};\n\nsessions[sessionId] = updatedSession;\n\nreturn [{\n  json: {\n    ...data,\n    session: updatedSession,\n    sessionState: {\n      phase: updatedSession.phase,\n      authenticated: updatedSession.authenticated,\n      authAttempts: updatedSession.authAttempts,\n      userId: updatedSession.userId,\n      name: updatedSession.name\n    },\n    savedUser: {\n      userId: authenticatedUserId,\n      name: authenticatedName\n    },\n    text: `Hi ${authenticatedName}, how can I help you today?`\n  }\n}];"
      },
      "id": "5",
      "name": "Save User Variables",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst sessions = staticData.multiIntentAssistantSessions ?? (staticData.multiIntentAssistantSessions = {});\nconst data = items[0].json;\nconst currentSession = sessions[data.sessionId] ?? data.session;\n\nfunction buildIntentRequest(type, text) {\n  const original = String(text ?? '').trim();\n  const upperCodes = [...original.toUpperCase().matchAll(/\\b(?:USD|EUR|GBP|INR|AUD|CAD|JPY|AED|CHF|SGD)\\b/g)].map((match) => match[0]);\n\n  if (type === 'currency_converter') {\n    const pair = upperCodes.length >= 2 ? upperCodes[0] + ' to ' + upperCodes[1] : 'currency conversion';\n    const amountMatch = original.match(/\\b(\\d+(?:\\.\\d+)?)\\s*(USD|EUR|GBP|INR|AUD|CAD|JPY|AED|CHF|SGD)\\b/i);\n    const amountPrefix = amountMatch ? amountMatch[1] + ' ' : '';\n    const datePart = /\\byesterday\\b/i.test(original) ? ' for yesterday' : (/\\btoday\\b/i.test(original) ? ' for today' : '');\n    return amountPrefix + pair + ' conversion' + datePart;\n  }\n\n  if (type === 'natural_language_datetime') {\n    const comingWeekday = original.match(/\\b(?:coming|next)\\s+(sunday|monday|tuesday|wednesday|thursday|friday|saturday)\\b/i);\n    if (comingWeekday) return 'date on the coming ' + comingWeekday[1];\n\n    const relative = original.match(/\\b(?:today|tomorrow|yesterday)\\b/i);\n    if (relative) return 'date ' + relative[0].toLowerCase();\n\n    const hours = original.match(/\\b\\d+\\s+hours?\\s+from\\s+now\\b/i);\n    if (hours) return hours[0];\n\n    return 'requested date or time';\n  }\n\n  return original;\n}\n\nfunction parseIntents(message) {\n  const text = String(message ?? '').trim();\n  if (!text) return [];\n  const lowered = text.toLowerCase();\n  const intents = [];\n\n  const currencyMatch = lowered.match(/\\b(?:usd|eur|gbp|inr|aud|cad|jpy|aed|chf|sgd)\\b.*\\b(?:to|in)\\b.*\\b(?:usd|eur|gbp|inr|aud|cad|jpy|aed|chf|sgd)\\b|\\b(?:convert|conversion|exchange rate|currency|rate)\\b/);\n  if (currencyMatch) {\n    intents.push({ type: 'currency_converter', label: 'currency conversion', request: buildIntentRequest('currency_converter', text), sourceMessage: text, order: currencyMatch.index ?? 0 });\n  }\n\n  const explicitDateTimeRequest = /\\b(?:date|time)\\b|\\bwhat(?:'s| is)?\\s+the\\s+(?:date|time)\\b|\\bwhat\\s+day\\b|\\bcoming\\s+(?:monday|tuesday|wednesday|thursday|friday|saturday|sunday)\\b|\\bdate\\s+on\\b|\\btime\\s+on\\b|\\b\\d+\\s+(?:hours?|days?|weeks?|months?|years?)\\s+from\\s+now\\b|\\bnow\\b/i;\n  const weakTemporalOnly = /\\b(?:today|tomorrow|yesterday|next\\s+(?:monday|tuesday|wednesday|thursday|friday|saturday|sunday)|coming\\s+(?:monday|tuesday|wednesday|thursday|friday|saturday|sunday))\\b/i;\n  const shouldAddDateTime = explicitDateTimeRequest.test(text) || (!currencyMatch && weakTemporalOnly.test(text));\n  const datetimeMatch = shouldAddDateTime ? lowered.match(/\\b(?:date|time|today|tomorrow|yesterday|next|coming|monday|tuesday|wednesday|thursday|friday|saturday|sunday|hour|hours|minute|minutes|day|days|week|weeks|month|months|year|years|now)\\b/) : null;\n  if (datetimeMatch) {\n    intents.push({ type: 'natural_language_datetime', label: 'natural language date and time', request: buildIntentRequest('natural_language_datetime', text), sourceMessage: text, order: datetimeMatch.index ?? 9999 });\n  }\n\n  intents.sort((a, b) => a.order - b.order);\n  const seen = new Set();\n  return intents.filter((intent) => {\n    if (seen.has(intent.type)) return false;\n    seen.add(intent.type);\n    return true;\n  }).map(({ order, ...intent }) => intent);\n}\n\nfunction classifyUnsupported(message) {\n  return /\\b(?:weather|joke|email|calendar|alarm|reminder|news|book|flight|hotel|pizza|translate|summary|summarize|stock|music|song|play)\\b/i.test(message);\n}\n\nif (!currentSession.authenticated) {\n  return [{ json: data }];\n}\nif (data.shouldSaveUser) {\n  return [{ json: data }];\n}\nif (currentSession.phase !== 'intent_capture') {\n  return [{ json: { ...data, session: currentSession } }];\n}\n\nconst chatInput = String(data.chatInput ?? '').trim();\nif (!chatInput) {\n  return [{ json: { ...data, session: currentSession, intentDetectionStatus: 'no_intent', detectedIntents: [], text: `Hi ${currentSession.name}, I can help with currency conversion and natural language date or time questions. What would you like to do?` } }];\n}\n\nconst detectedIntents = parseIntents(chatInput);\nif (detectedIntents.length === 0) {\n  const detectionStatus = classifyUnsupported(chatInput) ? 'invalid_intent' : 'no_intent';\n  return [{ json: { ...data, session: currentSession, intentDetectionStatus: detectionStatus, detectedIntents: [], text: data.text ?? '' } }];\n}\n\nreturn [{ json: { ...data, session: currentSession, intentDetectionStatus: 'valid', detectedIntents, text: data.text ?? '' } }];"
      },
      "id": "6",
      "name": "Intent Capture Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\nconst session = data.session;\n\nif (!session?.authenticated || data.shouldSaveUser || session.phase !== 'intent_capture') {\n  return [{ json: data }];\n}\n\nif (data.intentDetectionStatus === 'no_intent') {\n  return [{ json: { ...data, text: 'I can help with currency conversion and natural language date or time questions. Please tell me which of those you need.' } }];\n}\n\nif (data.intentDetectionStatus === 'invalid_intent') {\n  return [{ json: { ...data, text: 'I currently support only currency conversion and natural language date or time requests. Please try one of those.' } }];\n}\n\nreturn [{ json: data }];"
      },
      "id": "7",
      "name": "Validate Intent Detection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst sessions = staticData.multiIntentAssistantSessions ?? (staticData.multiIntentAssistantSessions = {});\nconst data = items[0].json;\nconst currentSession = sessions[data.sessionId] ?? data.session;\n\nfunction describeIntent(intent) {\n  if (!intent) return 'unknown request';\n  if (intent.type === 'currency_converter') {\n    const text = String(intent.request ?? '');\n    const codes = [...text.toUpperCase().matchAll(/\\b(?:USD|EUR|GBP|INR|AUD|CAD|JPY|AED|CHF|SGD)\\b/g)].map((match) => match[0]);\n    const pair = codes.length >= 2 ? codes[0] + ' to ' + codes[1] : 'currency conversion';\n    const datePart = /\\byesterday\\b/i.test(text) ? ' for yesterday' : '';\n    return pair + ' conversion' + datePart;\n  }\n  if (intent.type === 'natural_language_datetime') {\n    const text = String(intent.request ?? '');\n    const weekday = text.match(/\\b(?:coming|next)\\s+(sunday|monday|tuesday|wednesday|thursday|friday|saturday)\\b/i);\n    if (weekday) return 'date on the coming ' + weekday[1];\n    if (/\\btomorrow\\b/i.test(text)) return 'date tomorrow';\n    if (/\\byesterday\\b/i.test(text)) return 'date yesterday';\n    if (/\\btime\\b/i.test(text)) return 'requested time';\n    return 'requested date or time';\n  }\n  return intent.label ?? 'supported request';\n}\n\nfunction summarizeIntents(intents) {\n  if (!Array.isArray(intents) || intents.length === 0) return 'no intents';\n  const labels = intents.map(describeIntent);\n  if (labels.length === 1) return labels[0];\n  if (labels.length === 2) return labels[0] + ' and ' + labels[1];\n  return labels.slice(0, -1).join(', ') + ', and ' + labels[labels.length - 1];\n}\n\nif (!currentSession?.authenticated || data.shouldSaveUser) {\n  return [{ json: data }];\n}\nif (currentSession.phase !== 'intent_capture' || data.intentDetectionStatus !== 'valid') {\n  return [{ json: { ...data, session: currentSession } }];\n}\n\nconst updatedSession = { ...currentSession, phase: 'intent_confirmation', pendingIntents: data.detectedIntents };\nsessions[data.sessionId] = updatedSession;\nconst summary = summarizeIntents(updatedSession.pendingIntents);\n\nreturn [{ json: { ...data, session: updatedSession, awaitingConfirmation: true, pendingIntents: updatedSession.pendingIntents, text: `Sure, I can help you with ${summary}. Reply with proceed, add another request, or remove one.` } }];"
      },
      "id": "8",
      "name": "Summarize And Confirm Intents",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2060,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst sessions = staticData.multiIntentAssistantSessions ?? (staticData.multiIntentAssistantSessions = {});\nconst data = items[0].json;\nconst currentSession = sessions[data.sessionId] ?? data.session;\n\nfunction buildIntentRequest(type, text) {\n  const original = String(text ?? '').trim();\n  const upperCodes = [...original.toUpperCase().matchAll(/\\b(?:USD|EUR|GBP|INR|AUD|CAD|JPY|AED|CHF|SGD)\\b/g)].map((match) => match[0]);\n\n  if (type === 'currency_converter') {\n    const pair = upperCodes.length >= 2 ? upperCodes[0] + ' to ' + upperCodes[1] : 'currency conversion';\n    const amountMatch = original.match(/\\b(\\d+(?:\\.\\d+)?)\\s*(USD|EUR|GBP|INR|AUD|CAD|JPY|AED|CHF|SGD)\\b/i);\n    const amountPrefix = amountMatch ? amountMatch[1] + ' ' : '';\n    const datePart = /\\byesterday\\b/i.test(original) ? ' for yesterday' : (/\\btoday\\b/i.test(original) ? ' for today' : '');\n    return amountPrefix + pair + ' conversion' + datePart;\n  }\n\n  if (type === 'natural_language_datetime') {\n    const comingWeekday = original.match(/\\b(?:coming|next)\\s+(sunday|monday|tuesday|wednesday|thursday|friday|saturday)\\b/i);\n    if (comingWeekday) return 'date on the coming ' + comingWeekday[1];\n\n    const relative = original.match(/\\b(?:today|tomorrow|yesterday)\\b/i);\n    if (relative) return 'date ' + relative[0].toLowerCase();\n\n    const hours = original.match(/\\b\\d+\\s+hours?\\s+from\\s+now\\b/i);\n    if (hours) return hours[0];\n\n    return 'requested date or time';\n  }\n\n  return original;\n}\n\nfunction parseIntents(message) {\n  const text = String(message ?? '').trim();\n  if (!text) return [];\n  const lowered = text.toLowerCase();\n  const intents = [];\n\n  const currencyMatch = lowered.match(/\\b(?:usd|eur|gbp|inr|aud|cad|jpy|aed|chf|sgd)\\b.*\\b(?:to|in)\\b.*\\b(?:usd|eur|gbp|inr|aud|cad|jpy|aed|chf|sgd)\\b|\\b(?:convert|conversion|exchange rate|currency|rate)\\b/);\n  if (currencyMatch) intents.push({ type: 'currency_converter', label: 'currency conversion', request: buildIntentRequest('currency_converter', text), sourceMessage: text, order: currencyMatch.index ?? 0 });\n\n  const explicitDateTimeRequest = /\\b(?:date|time)\\b|\\bwhat(?:'s| is)?\\s+the\\s+(?:date|time)\\b|\\bwhat\\s+day\\b|\\bcoming\\s+(?:monday|tuesday|wednesday|thursday|friday|saturday|sunday)\\b|\\bdate\\s+on\\b|\\btime\\s+on\\b|\\b\\d+\\s+(?:hours?|days?|weeks?|months?|years?)\\s+from\\s+now\\b|\\bnow\\b/i;\n  const weakTemporalOnly = /\\b(?:today|tomorrow|yesterday|next\\s+(?:monday|tuesday|wednesday|thursday|friday|saturday|sunday)|coming\\s+(?:monday|tuesday|wednesday|thursday|friday|saturday|sunday))\\b/i;\n  const shouldAddDateTime = explicitDateTimeRequest.test(text) || (!currencyMatch && weakTemporalOnly.test(text));\n  const datetimeMatch = shouldAddDateTime ? lowered.match(/\\b(?:date|time|today|tomorrow|yesterday|next|coming|monday|tuesday|wednesday|thursday|friday|saturday|sunday|hour|hours|minute|minutes|day|days|week|weeks|month|months|year|years|now)\\b/) : null;\n  if (datetimeMatch) intents.push({ type: 'natural_language_datetime', label: 'natural language date and time', request: buildIntentRequest('natural_language_datetime', text), sourceMessage: text, order: datetimeMatch.index ?? 9999 });\n\n  intents.sort((a, b) => a.order - b.order);\n  const seen = new Set();\n  return intents.filter((intent) => {\n    if (seen.has(intent.type)) return false;\n    seen.add(intent.type);\n    return true;\n  }).map(({ order, ...intent }) => intent);\n}\n\nfunction mergeIntents(existing, additions) {\n  const merged = [...existing];\n  const seen = new Set(existing.map((intent) => intent.type));\n  for (const intent of additions) {\n    if (!seen.has(intent.type)) {\n      merged.push(intent);\n      seen.add(intent.type);\n    }\n  }\n  return merged;\n}\n\nfunction describeIntent(intent) {\n  if (!intent) return 'unknown request';\n  if (intent.type === 'currency_converter') {\n    const text = String(intent.request ?? '');\n    const codes = [...text.toUpperCase().matchAll(/\\b(?:USD|EUR|GBP|INR|AUD|CAD|JPY|AED|CHF|SGD)\\b/g)].map((match) => match[0]);\n    const pair = codes.length >= 2 ? codes[0] + ' to ' + codes[1] : 'currency conversion';\n    const datePart = /\\byesterday\\b/i.test(text) ? ' for yesterday' : '';\n    return pair + ' conversion' + datePart;\n  }\n  if (intent.type === 'natural_language_datetime') {\n    const text = String(intent.request ?? '');\n    const weekday = text.match(/\\b(?:coming|next)\\s+(sunday|monday|tuesday|wednesday|thursday|friday|saturday)\\b/i);\n    if (weekday) return 'date on the coming ' + weekday[1];\n    if (/\\btomorrow\\b/i.test(text)) return 'date tomorrow';\n    if (/\\byesterday\\b/i.test(text)) return 'date yesterday';\n    if (/\\btime\\b/i.test(text)) return 'requested time';\n    return 'requested date or time';\n  }\n  return intent.label ?? 'supported request';\n}\n\nfunction summarizeIntents(intents) {\n  if (!Array.isArray(intents) || intents.length === 0) return 'no intents';\n  const labels = intents.map(describeIntent);\n  if (labels.length === 1) return labels[0];\n  if (labels.length === 2) return labels[0] + ' and ' + labels[1];\n  return labels.slice(0, -1).join(', ') + ', and ' + labels[labels.length - 1];\n}\n\nif (!currentSession?.authenticated || currentSession.phase !== 'intent_confirmation') {\n  return [{ json: { ...data, session: currentSession } }];\n}\nif (data.awaitingConfirmation) {\n  return [{ json: { ...data, session: currentSession } }];\n}\n\nconst input = String(data.chatInput ?? '').trim();\nconst pendingIntents = Array.isArray(currentSession.pendingIntents) ? currentSession.pendingIntents : [];\nconst proceedIntent = /\\b(?:proceed|confirm|confirmed|yes|yes proceed|looks good|that works|done)\\b/i.test(input) || /\\b(?:no,? that'?s it|that's it|that is it|nothing else|no more)\\b/i.test(input);\nif (proceedIntent) {\n  return [{ json: { ...data, session: currentSession, shouldSaveIntents: true, pendingIntents, text: `Thanks. I am saving ${summarizeIntents(pendingIntents)} for processing.` } }];\n}\n\nconst removeCurrency = /\\bremove\\b.*\\bcurrency\\b|\\bwithout\\b.*\\bcurrency\\b|\\bdon'?t\\b.*\\bcurrency\\b/i.test(input);\nconst removeDatetime = /\\bremove\\b.*\\b(?:date|time)\\b|\\bwithout\\b.*\\b(?:date|time)\\b|\\bdon'?t\\b.*\\b(?:date|time)\\b/i.test(input);\nif (removeCurrency || removeDatetime) {\n  const filtered = pendingIntents.filter((intent) => {\n    if (removeCurrency && intent.type === 'currency_converter') return false;\n    if (removeDatetime && intent.type === 'natural_language_datetime') return false;\n    return true;\n  });\n  if (filtered.length === 0) {\n    const updatedSession = { ...currentSession, phase: 'intent_capture', pendingIntents: [] };\n    sessions[data.sessionId] = updatedSession;\n    return [{ json: { ...data, session: updatedSession, shouldSaveIntents: false, pendingIntents: [], text: 'All pending intents were removed. Please share a currency conversion or natural language date or time request.' } }];\n  }\n  const updatedSession = { ...currentSession, pendingIntents: filtered };\n  sessions[data.sessionId] = updatedSession;\n  return [{ json: { ...data, session: updatedSession, shouldSaveIntents: false, pendingIntents: filtered, text: `Updated intents: ${summarizeIntents(filtered)}. Reply with proceed, add another request, or remove one.` } }];\n}\n\nconst additionalIntents = parseIntents(input);\nif (additionalIntents.length > 0) {\n  const merged = mergeIntents(pendingIntents, additionalIntents);\n  const updatedSession = { ...currentSession, pendingIntents: merged };\n  sessions[data.sessionId] = updatedSession;\n  return [{ json: { ...data, session: updatedSession, shouldSaveIntents: false, pendingIntents: merged, text: `Updated intents: ${summarizeIntents(merged)}. Reply with proceed, add another request, or remove one.` } }];\n}\n\nreturn [{ json: { ...data, session: currentSession, shouldSaveIntents: false, pendingIntents, text: 'Please reply with proceed, add another supported request, or remove one of the current intents.' } }];"
      },
      "id": "9",
      "name": "Confirmation Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst sessions = staticData.multiIntentAssistantSessions ?? (staticData.multiIntentAssistantSessions = {});\nconst data = items[0].json;\nconst currentSession = sessions[data.sessionId] ?? data.session;\n\nfunction describeIntent(intent) {\n  if (!intent) return 'unknown request';\n  if (intent.type === 'currency_converter') {\n    const text = String(intent.request ?? '');\n    const codes = [...text.toUpperCase().matchAll(/\\b(?:USD|EUR|GBP|INR|AUD|CAD|JPY|AED|CHF|SGD)\\b/g)].map((match) => match[0]);\n    const pair = codes.length >= 2 ? codes[0] + ' to ' + codes[1] : 'currency conversion';\n    const datePart = /\\byesterday\\b/i.test(text) ? ' for yesterday' : '';\n    return pair + ' conversion' + datePart;\n  }\n  if (intent.type === 'natural_language_datetime') {\n    const text = String(intent.request ?? '');\n    const weekday = text.match(/\\b(?:coming|next)\\s+(sunday|monday|tuesday|wednesday|thursday|friday|saturday)\\b/i);\n    if (weekday) return 'date on the coming ' + weekday[1];\n    if (/\\btomorrow\\b/i.test(text)) return 'date tomorrow';\n    if (/\\byesterday\\b/i.test(text)) return 'date yesterday';\n    if (/\\btime\\b/i.test(text)) return 'requested time';\n    return 'requested date or time';\n  }\n  return intent.label ?? 'supported request';\n}\n\nfunction summarizeIntents(intents) {\n  if (!Array.isArray(intents) || intents.length === 0) return 'no intents';\n  const labels = intents.map(describeIntent);\n  if (labels.length === 1) return labels[0];\n  if (labels.length === 2) return labels[0] + ' and ' + labels[1];\n  return labels.slice(0, -1).join(', ') + ', and ' + labels[labels.length - 1];\n}\n\nif (!data.shouldSaveIntents) {\n  return [{ json: { ...data, session: currentSession } }];\n}\n\nconst intentsToSave = Array.isArray(currentSession.pendingIntents) ? currentSession.pendingIntents : (Array.isArray(data.pendingIntents) ? data.pendingIntents : []);\nconst updatedSession = { ...currentSession, phase: 'intent_handler', intents: intentsToSave, pendingIntents: [] };\nsessions[data.sessionId] = updatedSession;\n\nreturn [{ json: { ...data, session: updatedSession, sessionState: { phase: updatedSession.phase, authenticated: updatedSession.authenticated, authAttempts: updatedSession.authAttempts, userId: updatedSession.userId, name: updatedSession.name }, savedIntents: intentsToSave, text: `Saved intents: ${summarizeIntents(intentsToSave)}. Processing them one at a time.` } }];"
      },
      "id": "10",
      "name": "Save Intent Variables",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2580,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst sessions = staticData.multiIntentAssistantSessions ?? (staticData.multiIntentAssistantSessions = {});\nconst data = items[0].json;\nconst currentSession = sessions[data.sessionId] ?? data.session;\n\nif (currentSession.phase !== 'intent_handler') {\n  return [{ json: { ...data, session: currentSession, passthrough: true, answerText: data.text ?? '' } }];\n}\n\nconst remainingIntents = Array.isArray(currentSession.intents) ? currentSession.intents : [];\nif (remainingIntents.length === 0) {\n  return [{ json: { ...data, session: currentSession, passthrough: true, answerText: 'All saved intents have been processed. The workflow is ready for call wrap-up.', text: 'All saved intents have been processed. The workflow is ready for call wrap-up.' } }];\n}\n\nconst [currentIntent, ...queuedIntents] = remainingIntents;\nconst updatedSession = { ...currentSession, intents: queuedIntents, activeIntent: currentIntent };\nsessions[data.sessionId] = updatedSession;\n\nreturn [{ json: { ...data, session: updatedSession, passthrough: false, currentIntent, remainingIntentCount: queuedIntents.length, totalIntentsBeforeThisTurn: remainingIntents.length, text: data.text ?? '' } }];"
      },
      "id": "11",
      "name": "Intent Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2700,
        620
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => {\n  const data = item.json;\n  const request = data.currentIntent.request;\n  const codes = [...request.toUpperCase().matchAll(/\\b(?:USD|EUR|GBP|INR|AUD|CAD|JPY|AED|CHF|SGD)\\b/g)].map((match) => match[0]);\n  const base = codes[0] ?? 'USD';\n  const quote = codes[1] ?? 'INR';\n  const amountMatch = request.match(/\\b(\\d+(?:\\.\\d+)?)\\s*(USD|EUR|GBP|INR|AUD|CAD|JPY|AED|CHF|SGD)\\b/i);\n  const amount = amountMatch ? Number(amountMatch[1]) : 1;\n  const today = new Date();\n  let date = null;\n  if (/\\byesterday\\b/i.test(request)) {\n    const d = new Date(Date.UTC(today.getUTCFullYear(), today.getUTCMonth(), today.getUTCDate()));\n    d.setUTCDate(d.getUTCDate() - 1);\n    date = d.toISOString().slice(0, 10);\n  }\n  const toolInput = JSON.stringify({ base, quote, amount, date });\n  return { json: { ...data, processor: 'currency', currencyToolInput: toolInput, chatInput: 'Use the fetch_currency_rate tool with this exact JSON string as the tool input: ' + toolInput + '. Then answer the user request concisely in 1-2 short sentences. User request: ' + request } };\n});"
      },
      "id": "12",
      "name": "Prepare Currency Agent Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3420,
        280
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.chatInput }}",
        "promptType": "define",
        "options": {
          "systemMessage": "You are the currency conversion specialist for a multi-intent assistant. Always use the provided currency tool before answering. Answer only the current currency intent. Do not answer date, time, or any other pending intent. Keep the answer concise."
        }
      },
      "id": "13",
      "name": "Currency Converter Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3680,
        280
      ]
    },
    {
      "parameters": {
        "model": "gpt-4.1",
        "options": {}
      },
      "id": "14",
      "name": "Currency GPT 4.1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        3680,
        120
      ],
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "[Your openAiApi]"
        }
      }
    },
    {
      "parameters": {
        "name": "fetch_currency_rate",
        "description": "Fetch a currency rate from Frankfurter. The tool input must be a JSON string with base, quote, amount, and optional date in YYYY-MM-DD format. Use this tool for every currency intent before you answer.",
        "language": "javaScript",
        "jsCode": "function getIncomingToolInput() {\n  if (typeof query !== 'undefined' && query !== null && query !== '') return query;\n\n  if (typeof $input !== 'undefined' && typeof $input.first === 'function') {\n    const first = $input.first();\n    const json = first?.json ?? {};\n    return json.currencyToolInput ?? json.query ?? json.input ?? json.toolInput ?? null;\n  }\n\n  if (typeof $json !== 'undefined') {\n    return $json.currencyToolInput ?? $json.query ?? $json.input ?? $json.toolInput ?? null;\n  }\n\n  return null;\n}\n\nfunction parseCurrencyInput(raw) {\n  if (raw && typeof raw === 'object') return raw;\n  const text = String(raw ?? '').trim();\n  if (!text) return {};\n\n  try {\n    return JSON.parse(text);\n  } catch (error) {\n    const codes = [...text.toUpperCase().matchAll(/\\b(?:USD|EUR|GBP|INR|AUD|CAD|JPY|AED|CHF|SGD)\\b/g)].map((match) => match[0]);\n    const amountMatch = text.match(/\\b(\\d+(?:\\.\\d+)?)\\s*(USD|EUR|GBP|INR|AUD|CAD|JPY|AED|CHF|SGD)\\b/i);\n    const dateMatch = text.match(/\\b\\d{4}-\\d{2}-\\d{2}\\b/);\n    return {\n      base: codes[0],\n      quote: codes[1],\n      amount: amountMatch ? Number(amountMatch[1]) : 1,\n      date: dateMatch ? dateMatch[0] : null\n    };\n  }\n}\n\nconst input = parseCurrencyInput(getIncomingToolInput());\nconst base = String(input.base || 'USD').toUpperCase();\nconst quote = String(input.quote || 'INR').toUpperCase();\nconst amount = Number(input.amount || 1);\nconst date = input.date ? String(input.date) : null;\nconst queryParts = [];\nif (date) queryParts.push('date=' + encodeURIComponent(date));\nconst endpoint = 'https://api.frankfurter.dev/v2/rate/' + encodeURIComponent(base) + '/' + encodeURIComponent(quote) + (queryParts.length ? '?' + queryParts.join('&') : '');\n\ntry {\n  const data = await this.helpers.httpRequest({ method: 'GET', url: endpoint, json: true });\n  const rate = typeof data?.rate === 'number' ? data.rate : null;\n  const convertedAmount = rate === null ? null : Number((amount * rate).toFixed(4));\n\n  return JSON.stringify({ ok: rate !== null, endpoint, base, quote, requestedAmount: amount, convertedAmount, rate, date: data.date, raw: data });\n} catch (error) {\n  return JSON.stringify({ ok: false, endpoint, base, quote, requestedAmount: amount, date, error: error.message || String(error) });\n}"
      },
      "id": "15",
      "name": "Currency Rate Tool",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        3940,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "function getPriorNodeJson(name) {\n  try {\n    if (typeof $ === 'function') return $(name).first().json ?? {};\n  } catch (error) {}\n  return {};\n}\n\nreturn items.map((item) => {\n  const modelData = item.json ?? {};\n  const sourceData = getPriorNodeJson('Prepare Currency Agent Input');\n  const data = { ...sourceData, ...modelData };\n  const answerText = modelData.output ?? modelData.text ?? data.output ?? data.text ?? 'Currency intent processed.';\n\n  return { json: { ...data, answerText, text: answerText, answeredIntent: data.currentIntent } };\n});"
      },
      "id": "16",
      "name": "Currency Answer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3940,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => {\n  const data = item.json;\n  const request = data.currentIntent.request;\n  return { json: { ...data, processor: 'datetime', chatInput: 'Current date/time is ' + new Date().toISOString() + '. Use the generate_date_time tool for this exact user request: ' + request + '. Then answer concisely in 1-2 short sentences and only for this intent.' } };\n});"
      },
      "id": "17",
      "name": "Prepare DateTime Agent Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3420,
        620
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.chatInput }}",
        "promptType": "define",
        "options": {
          "systemMessage": "You are the natural language date and time specialist for a multi-intent assistant. Always use the provided date-time tool before answering. Answer only the current date/time intent. Do not answer currency or any other pending intent. Keep the answer concise."
        }
      },
      "id": "18",
      "name": "DateTime Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3680,
        620
      ]
    },
    {
      "parameters": {
        "model": "gpt-4.1",
        "options": {}
      },
      "id": "19",
      "name": "DateTime GPT 4.1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        3680,
        780
      ],
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "[Your openAiApi]"
        }
      }
    },
    {
      "parameters": {
        "name": "generate_date_time",
        "description": "Generate the requested date or time from a natural language request. The tool input will be the user's raw request string. Use it for requests like tomorrow, next Monday, coming Sunday, or 2 hours from now.",
        "language": "javaScript",
        "jsCode": "function getIncomingToolInput() {\n  if (typeof query !== 'undefined' && query !== null && query !== '') return query;\n\n  if (typeof $input !== 'undefined' && typeof $input.first === 'function') {\n    const first = $input.first();\n    const json = first?.json ?? {};\n    return json.currentIntent?.request ?? json.query ?? json.input ?? json.toolInput ?? json.chatInput ?? null;\n  }\n\n  if (typeof $json !== 'undefined') {\n    return $json.currentIntent?.request ?? $json.query ?? $json.input ?? $json.toolInput ?? $json.chatInput ?? null;\n  }\n\n  return '';\n}\n\nconst text = String(getIncomingToolInput() || '').trim();\nconst lowered = text.toLowerCase();\nconst now = new Date();\n\nfunction pad(n) {\n  return String(n).padStart(2, '0');\n}\n\nfunction isoDate(d) {\n  return d.getFullYear() + '-' + pad(d.getMonth() + 1) + '-' + pad(d.getDate());\n}\n\nfunction displayDate(d) {\n  return d.toLocaleDateString('en-GB', { day: '2-digit', month: 'long', year: 'numeric' });\n}\n\nfunction displayTime(d) {\n  return d.toLocaleTimeString('en-US', { hour: 'numeric', minute: '2-digit', hour12: true });\n}\n\nfunction nextWeekday(startDate, weekday) {\n  const result = new Date(startDate);\n  const diff = (weekday - result.getDay() + 7) % 7 || 7;\n  result.setDate(result.getDate() + diff);\n  return result;\n}\n\nif (/\\btomorrow\\b/.test(lowered)) {\n  const d = new Date(now);\n  d.setDate(d.getDate() + 1);\n  return JSON.stringify({ ok: true, kind: 'date', isoDate: isoDate(d), display: displayDate(d) });\n}\n\nif (/\\byesterday\\b/.test(lowered)) {\n  const d = new Date(now);\n  d.setDate(d.getDate() - 1);\n  return JSON.stringify({ ok: true, kind: 'date', isoDate: isoDate(d), display: displayDate(d) });\n}\n\nconst hoursFromNow = lowered.match(/\\b(\\d+)\\s+hours?\\s+from\\s+now\\b/);\nif (hoursFromNow) {\n  const d = new Date(now);\n  d.setHours(d.getHours() + Number(hoursFromNow[1]));\n  return JSON.stringify({ ok: true, kind: 'time', isoDate: isoDate(d), display: displayDate(d) + ' ' + displayTime(d) });\n}\n\nconst weekdayMap = {\n  sunday: 0,\n  monday: 1,\n  tuesday: 2,\n  wednesday: 3,\n  thursday: 4,\n  friday: 5,\n  saturday: 6\n};\n\nconst weekdayMatch = lowered.match(/\\b(?:next|coming)\\s+(sunday|monday|tuesday|wednesday|thursday|friday|saturday)\\b/);\nif (weekdayMatch) {\n  const d = nextWeekday(now, weekdayMap[weekdayMatch[1]]);\n  return JSON.stringify({ ok: true, kind: 'date', isoDate: isoDate(d), display: displayDate(d) });\n}\n\nif (/\\bwhat(?:'s| is)?\\s+the\\s+date\\b|\\bdate\\b/.test(lowered)) {\n  return JSON.stringify({ ok: true, kind: 'date', isoDate: isoDate(now), display: displayDate(now) });\n}\n\nif (/\\bwhat(?:'s| is)?\\s+the\\s+time\\b|\\btime\\b|\\bnow\\b/.test(lowered)) {\n  return JSON.stringify({ ok: true, kind: 'time', isoDate: isoDate(now), display: displayDate(now) + ' ' + displayTime(now) });\n}\n\nreturn JSON.stringify({ ok: false, error: 'Unsupported natural language date/time request', received: text });"
      },
      "id": "20",
      "name": "DateTime Tool",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        3940,
        780
      ]
    },
    {
      "parameters": {
        "jsCode": "function getPriorNodeJson(name) {\n  try {\n    if (typeof $ === 'function') return $(name).first().json ?? {};\n  } catch (error) {}\n  return {};\n}\n\nreturn items.map((item) => {\n  const modelData = item.json ?? {};\n  const sourceData = getPriorNodeJson('Prepare DateTime Agent Input');\n  const data = { ...sourceData, ...modelData };\n  const answerText = modelData.output ?? modelData.text ?? data.output ?? data.text ?? 'Date and time intent processed.';\n\n  return { json: { ...data, answerText, text: answerText, answeredIntent: data.currentIntent } };\n});"
      },
      "id": "21",
      "name": "DateTime Answer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3940,
        620
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => {\n  const data = item.json;\n  const answerText = data.answerText ?? data.text ?? '';\n  return { json: { ...data, answerState: data.answeredIntent ? 'answer_intent' : 'passthrough_response', answerText, text: answerText } };\n});"
      },
      "id": "23",
      "name": "Answer Intent State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4240,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst sessions = staticData.multiIntentAssistantSessions ?? (staticData.multiIntentAssistantSessions = {});\n\nif (items.length === 0) {\n  return [{ json: { text: 'No response was generated.' } }];\n}\n\nconst baseItem = items[0].json;\nconst fallbackSession = {\n  phase: baseItem.sessionState?.phase ?? 'intent_handler',\n  authenticated: Boolean(baseItem.sessionState?.authenticated),\n  authAttempts: baseItem.sessionState?.authAttempts ?? 0,\n  userId: baseItem.sessionState?.userId ?? baseItem.savedUser?.userId ?? null,\n  name: baseItem.sessionState?.name ?? baseItem.savedUser?.name ?? null,\n  intents: [],\n  pendingIntents: [],\n  processedIntents: []\n};\nconst currentSession = sessions[baseItem.sessionId] ?? baseItem.session ?? fallbackSession;\nconst processedIntent = baseItem.answeredIntent ?? null;\n\nif (!processedIntent) {\n  return [{\n    json: {\n      ...baseItem,\n      session: currentSession,\n      sessionState: {\n        phase: currentSession.phase,\n        authenticated: currentSession.authenticated,\n        authAttempts: currentSession.authAttempts,\n        userId: currentSession.userId,\n        name: currentSession.name\n      },\n      text: baseItem.answerText ?? baseItem.text ?? ''\n    }\n  }];\n}\n\nconst remainingIntents = Array.isArray(currentSession.intents) ? currentSession.intents : [];\nconst hasMoreIntents = remainingIntents.length > 0;\nconst updatedSession = {\n  ...currentSession,\n  phase: hasMoreIntents ? 'intent_handler' : 'call_wrapup',\n  activeIntent: null,\n  pendingIntents: [],\n  processedIntents: [...(currentSession.processedIntents ?? []), processedIntent]\n};\n\nif (baseItem.sessionId) {\n  sessions[baseItem.sessionId] = updatedSession;\n}\n\nconst continuationText = hasMoreIntents ? '\\nReply next to process the next intent.' : '\\nAnything else I can help you with?';\nreturn [{\n  json: {\n    ...baseItem,\n    session: updatedSession,\n    sessionState: {\n      phase: updatedSession.phase,\n      authenticated: updatedSession.authenticated,\n      authAttempts: updatedSession.authAttempts,\n      userId: updatedSession.userId,\n      name: updatedSession.name\n    },\n    processedIntent,\n    remainingIntentCount: remainingIntents.length,\n    text: String(baseItem.answerText ?? baseItem.text ?? '') + continuationText\n  }\n}];"
      },
      "id": "26",
      "name": "Finalize Intent Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4500,
        420
      ]
    },
    {
      "parameters": {
        "content": "Scope implemented here: Welcome, Authentication, Intent Capture & Confirmation, Intent Handler, Currency Converter Agent, DateTime Agent, Answer Intent state, and Call Wrap-up.\n\nCompatibility note: chat response uses When Last Node Finishes. Intent Handler routes one queued intent per chat turn to exactly one specialist OpenAI agent, then Finalize Intent Batch returns the answer. When no intents remain, Call Wrap-up asks whether the user needs anything else; yes routes back to intent capture/confirmation and no ends cleanly.",
        "height": 300,
        "width": 460,
        "color": 5
      },
      "id": "24",
      "name": "Scope Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4240,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "currency-type-match",
              "leftValue": "={{ $json.currentIntent.type }}",
              "rightValue": "currency_converter",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "27",
      "name": "Is Currency Intent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3180,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "datetime-type-match",
              "leftValue": "={{ $json.currentIntent.type }}",
              "rightValue": "natural_language_datetime",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "28",
      "name": "Is DateTime Intent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3180,
        620
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst sessions = staticData.multiIntentAssistantSessions ?? (staticData.multiIntentAssistantSessions = {});\nconst data = items[0].json;\nconst currentSession = sessions[data.sessionId] ?? data.session;\n\nfunction buildIntentRequest(type, text) {\n  const original = String(text ?? '').trim();\n  const upperCodes = [...original.toUpperCase().matchAll(/\\b(?:USD|EUR|GBP|INR|AUD|CAD|JPY|AED|CHF|SGD)\\b/g)].map((match) => match[0]);\n\n  if (type === 'currency_converter') {\n    const pair = upperCodes.length >= 2 ? upperCodes[0] + ' to ' + upperCodes[1] : 'currency conversion';\n    const amountMatch = original.match(/\\b(\\d+(?:\\.\\d+)?)\\s*(USD|EUR|GBP|INR|AUD|CAD|JPY|AED|CHF|SGD)\\b/i);\n    const amountPrefix = amountMatch ? amountMatch[1] + ' ' : '';\n    const datePart = /\\byesterday\\b/i.test(original) ? ' for yesterday' : (/\\btoday\\b/i.test(original) ? ' for today' : '');\n    return amountPrefix + pair + ' conversion' + datePart;\n  }\n\n  if (type === 'natural_language_datetime') {\n    const comingWeekday = original.match(/\\b(?:coming|next)\\s+(sunday|monday|tuesday|wednesday|thursday|friday|saturday)\\b/i);\n    if (comingWeekday) return 'date on the coming ' + comingWeekday[1];\n\n    const relative = original.match(/\\b(?:today|tomorrow|yesterday)\\b/i);\n    if (relative) return 'date ' + relative[0].toLowerCase();\n\n    const hours = original.match(/\\b\\d+\\s+hours?\\s+from\\s+now\\b/i);\n    if (hours) return hours[0];\n\n    return 'requested date or time';\n  }\n\n  return original;\n}\n\nfunction parseIntents(message) {\n  const text = String(message ?? '').trim();\n  if (!text) return [];\n  const lowered = text.toLowerCase();\n  const intents = [];\n\n  const currencyMatch = lowered.match(/\\b(?:usd|eur|gbp|inr|aud|cad|jpy|aed|chf|sgd)\\b.*\\b(?:to|in)\\b.*\\b(?:usd|eur|gbp|inr|aud|cad|jpy|aed|chf|sgd)\\b|\\b(?:convert|conversion|exchange rate|currency|rate)\\b/);\n  if (currencyMatch) {\n    intents.push({ type: 'currency_converter', label: 'currency conversion', request: buildIntentRequest('currency_converter', text), sourceMessage: text, order: currencyMatch.index ?? 0 });\n  }\n\n  const explicitDateTimeRequest = /\\b(?:date|time)\\b|\\bwhat(?:'s| is)?\\s+the\\s+(?:date|time)\\b|\\bwhat\\s+day\\b|\\bcoming\\s+(?:monday|tuesday|wednesday|thursday|friday|saturday|sunday)\\b|\\bdate\\s+on\\b|\\btime\\s+on\\b|\\b\\d+\\s+(?:hours?|days?|weeks?|months?|years?)\\s+from\\s+now\\b|\\bnow\\b/i;\n  const weakTemporalOnly = /\\b(?:today|tomorrow|yesterday|next\\s+(?:monday|tuesday|wednesday|thursday|friday|saturday|sunday)|coming\\s+(?:monday|tuesday|wednesday|thursday|friday|saturday|sunday))\\b/i;\n  const shouldAddDateTime = explicitDateTimeRequest.test(text) || (!currencyMatch && weakTemporalOnly.test(text));\n  const datetimeMatch = shouldAddDateTime ? lowered.match(/\\b(?:date|time|today|tomorrow|yesterday|next|coming|monday|tuesday|wednesday|thursday|friday|saturday|sunday|hour|hours|minute|minutes|day|days|week|weeks|month|months|year|years|now)\\b/) : null;\n  if (datetimeMatch) {\n    intents.push({ type: 'natural_language_datetime', label: 'natural language date and time', request: buildIntentRequest('natural_language_datetime', text), sourceMessage: text, order: datetimeMatch.index ?? 9999 });\n  }\n\n  intents.sort((a, b) => a.order - b.order);\n  const seen = new Set();\n  return intents.filter((intent) => {\n    if (seen.has(intent.type)) return false;\n    seen.add(intent.type);\n    return true;\n  }).map(({ order, ...intent }) => intent);\n}\n\nfunction describeIntent(intent) {\n  if (!intent) return 'unknown request';\n  if (intent.type === 'currency_converter') {\n    const text = String(intent.request ?? '');\n    const codes = [...text.toUpperCase().matchAll(/\\b(?:USD|EUR|GBP|INR|AUD|CAD|JPY|AED|CHF|SGD)\\b/g)].map((match) => match[0]);\n    const pair = codes.length >= 2 ? codes[0] + ' to ' + codes[1] : 'currency conversion';\n    const datePart = /\\byesterday\\b/i.test(text) ? ' for yesterday' : '';\n    return pair + ' conversion' + datePart;\n  }\n  if (intent.type === 'natural_language_datetime') {\n    const text = String(intent.request ?? '');\n    const weekday = text.match(/\\b(?:coming|next)\\s+(sunday|monday|tuesday|wednesday|thursday|friday|saturday)\\b/i);\n    if (weekday) return 'date on the coming ' + weekday[1];\n    if (/\\btomorrow\\b/i.test(text)) return 'date tomorrow';\n    if (/\\byesterday\\b/i.test(text)) return 'date yesterday';\n    if (/\\btime\\b/i.test(text)) return 'requested time';\n    return 'requested date or time';\n  }\n  return intent.label ?? 'supported request';\n}\n\nfunction summarizeIntents(intents) {\n  if (!Array.isArray(intents) || intents.length === 0) return 'no intents';\n  const labels = intents.map(describeIntent);\n  if (labels.length === 1) return labels[0];\n  if (labels.length === 2) return labels[0] + ' and ' + labels[1];\n  return labels.slice(0, -1).join(', ') + ', and ' + labels[labels.length - 1];\n}\n\nfunction classifyUnsupported(message) {\n  return /\\b(?:weather|joke|email|calendar|alarm|reminder|news|book|flight|hotel|pizza|translate|summary|summarize|stock|music|song|play)\\b/i.test(message);\n}\n\nif (!currentSession || currentSession.phase !== 'call_wrapup') {\n  return [{ json: { ...data, session: currentSession } }];\n}\n\nconst input = String(data.chatInput ?? '').trim();\nconst saysNo = /\\b(?:no|nope|nothing else|that's it|that is it|no more|thank you|thanks)\\b/i.test(input);\nconst saysYes = /\\b(?:yes|yeah|yep|sure|another|also|one more|more)\\b/i.test(input);\nconst detectedIntents = parseIntents(input);\n\nif (saysNo && detectedIntents.length === 0) {\n  const updatedSession = { ...currentSession, phase: 'ended', activeIntent: null, intents: [], pendingIntents: [] };\n  sessions[data.sessionId] = updatedSession;\n  return [{ json: { ...data, session: updatedSession, callWrapupHandled: true, passthrough: true, answerText: 'Thank you. Have a nice day!', text: 'Thank you. Have a nice day!' } }];\n}\n\nif (detectedIntents.length > 0) {\n  const updatedSession = { ...currentSession, phase: 'intent_confirmation', activeIntent: null, pendingIntents: detectedIntents, intents: [] };\n  sessions[data.sessionId] = updatedSession;\n  return [{ json: { ...data, session: updatedSession, callWrapupHandled: true, awaitingConfirmation: true, pendingIntents: detectedIntents, passthrough: true, answerText: 'Sure, I can help you with ' + summarizeIntents(detectedIntents) + '. Reply with proceed, add another request, or remove one.', text: 'Sure, I can help you with ' + summarizeIntents(detectedIntents) + '. Reply with proceed, add another request, or remove one.' } }];\n}\n\nif (saysYes) {\n  const updatedSession = { ...currentSession, phase: 'intent_capture', activeIntent: null, pendingIntents: [], intents: [] };\n  sessions[data.sessionId] = updatedSession;\n  return [{ json: { ...data, session: updatedSession, callWrapupHandled: true, passthrough: true, answerText: 'Sure, what else can I help you with? I can help with currency conversion and natural language date or time questions.', text: 'Sure, what else can I help you with? I can help with currency conversion and natural language date or time questions.' } }];\n}\n\nconst text = classifyUnsupported(input)\n  ? 'I currently support only currency conversion and natural language date or time requests. Please share one of those, or say no to end the chat.'\n  : 'Anything else I can help you with? Please share another currency/date-time request, or say no to end the chat.';\nreturn [{ json: { ...data, session: currentSession, callWrapupHandled: true, passthrough: true, answerText: text, text } }];"
      },
      "id": "29",
      "name": "Call Wrap-Up Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2700,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-current-intent",
              "leftValue": "={{ Boolean($json.currentIntent && $json.currentIntent.type && !$json.passthrough) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "30",
      "name": "Should Process Intent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2940,
        420
      ]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Load Session State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Session State": {
      "main": [
        [
          {
            "node": "Welcome Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Welcome Agent": {
      "main": [
        [
          {
            "node": "Authentication Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authentication Agent": {
      "main": [
        [
          {
            "node": "Save User Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save User Variables": {
      "main": [
        [
          {
            "node": "Intent Capture Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Capture Agent": {
      "main": [
        [
          {
            "node": "Validate Intent Detection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Intent Detection": {
      "main": [
        [
          {
            "node": "Summarize And Confirm Intents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize And Confirm Intents": {
      "main": [
        [
          {
            "node": "Confirmation Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmation Agent": {
      "main": [
        [
          {
            "node": "Save Intent Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Intent Variables": {
      "main": [
        [
          {
            "node": "Call Wrap-Up Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Handler": {
      "main": [
        [
          {
            "node": "Should Process Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Currency Agent Input": {
      "main": [
        [
          {
            "node": "Currency Converter Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Currency GPT 4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Currency Converter Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Currency Rate Tool": {
      "ai_tool": [
        [
          {
            "node": "Currency Converter Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Currency Converter Agent": {
      "main": [
        [
          {
            "node": "Currency Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare DateTime Agent Input": {
      "main": [
        [
          {
            "node": "DateTime Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DateTime GPT 4.1": {
      "ai_languageModel": [
        [
          {
            "node": "DateTime Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DateTime Tool": {
      "ai_tool": [
        [
          {
            "node": "DateTime Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "DateTime Agent": {
      "main": [
        [
          {
            "node": "DateTime Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Currency Answer": {
      "main": [
        [
          {
            "node": "Answer Intent State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DateTime Answer": {
      "main": [
        [
          {
            "node": "Answer Intent State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Intent State": {
      "main": [
        [
          {
            "node": "Finalize Intent Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Currency Intent": {
      "main": [
        [
          {
            "node": "Prepare Currency Agent Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is DateTime Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is DateTime Intent": {
      "main": [
        [
          {
            "node": "Prepare DateTime Agent Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Answer Intent State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Wrap-Up Agent": {
      "main": [
        [
          {
            "node": "Intent Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Process Intent": {
      "main": [
        [
          {
            "node": "Is Currency Intent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Answer Intent State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "partial-process-v4-call-wrapup",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
